.grid-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 20% 20% 20% 20% 20% ;
    gap: 16px;
    width: 100vw;
    height: 100vh;
    background: url(img/back.jpg);
    background-size: 100vw;
}


.makeup{
    /* grid-column: span 5; */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    /* margin: 24px;
    height: 50vh; */
    overflow-y: scroll;
    /* grid-row: span 3; */
    grid-area: 3/1/6/3;
    padding: 24px;
}

.products{
    /* grid-area: 5
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    /* justify-content: space-around; */
    /* margin: 24px;
    height: 100vh; */
    overflow-y: scroll;
    grid-area: 3/5/6/7;

    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.bareface{
    grid-area:3/3/5/5;
    display: flex;
    justify-content: center;
}



.heading1{
    display: flex;
    grid-area: 2/1/3/3;
    align-items: center;
    justify-content: center;
   
}

.heading2{
    display: flex;
    grid-area: 2/5/3/7;
    align-items: center;
    justify-content: center;
    /* background-image: url(img/bitten.jpg); */
    
}

.heading3{
    display: flex;
    grid-area: 2/3/3/5;
    align-items: center;
    justify-content: center;
   
}

h2{
    text-align: center;
    font-family: "WindSong", serif;
    /* background-image: url(img/side.jpg); */
    
}

.windsong-regular {
    font-family: "WindSong", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .windsong-medium {
    font-family: "WindSong", serif;
    font-weight: 500;
    font-style: normal;
  }

  h1 {
    font-family:serif;
    text-align: center;
    font-family:monospace;
    color: rgb(170, 167, 160);
    font-size: 50px;
    letter-spacing: 40px;
    
  }
  
h3{
    padding-left: 15px;
    padding-right: 15px;
    font-family:monospace;
    color: rgb(232, 194, 205);
    letter-spacing: 4px;
    border-style: dotted;
    border-radius: 8px;
}
  .headerlmao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    grid-area: 1/1/2/7;
  }



.tew{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15%
    
}


.makeupm{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/apple.jpg);
    background-size: 100vw;
    height: 115px 
}
/* .header{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
} */
.raleway-dots-regular {
    font-family: "Raleway Dots", serif;
    font-style: normal;
    
  }

.cart{
    width:50%;
    text-align: right;
}

.island-moments-regular {
    font-family: "Island Moments", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.onehalf{
    display:flex;
    align-items: center;
}


h4{
    font-family: myFirstFont;
    color: rgba(168, 24, 43, 0.915);
    font-size: 50px;
    text-align: center;
    font-weight: 3px;
}
@font-face {
    font-family: myFirstFont;
    src: url(img/JellyJulyShiny-3z4JM.ttf);
    font-weight: 4px;
  }